<!DOCTYPE html>
<html>
	<head>
		<title>{{with .Content}}{{.Title}}{{else}}No Title{{end}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="//cmcenroe.me/writ/0.2.1/writ.min.css">
	</head>
	<body>
		<header>
			<h1><a href="/">Testpage</a></h1>
			<p>Items are sorted newest to oldest</p>
			<p>If a folder has no article, default to the first entry of the
			article list</p>
			<nav>{{template "menu" .Menu}}
			</nav>
		</header>
		<article>{{if gt (len .Articles) 1}}
			<aside>{{template "articles" .Articles}}
			</aside>
		{{end}}{{template "content" .Content}}
		</article>
	</body>
</html>

{{define "menu"}}
				{{range .}}<ul>{{range .}}
					<li>{{template "link" .}}</li>{{end}}
				</ul>{{end}}{{end}}
				{{define "articles"}}
				<ul>{{range .}}
					<li>{{template "link" .}}</li>{{end}}
				</ul>{{end}}
{{define "content"}}{{with .}}

<h1>{{template "link" .}}</h1>
<p>{{.Author}} - {{.Date.Format "2006-01-02 15:04"}}</p>
<hr></hr>
{{.HTML}}{{end}}{{end}}
{{define "link"}}<a href="{{.Link}}"{{if .Active}} class="active"{{end}}>{{.Title}}</a>{{end}}
