		<title>{{with .Content}}{{.Title}}{{else}}No Title{{end}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/writ.min.css">
		<link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico">
