<!DOCTYPE html>
<html>
	<head>{{template "head.tmpl" . }}
	</head>
	<body>
		<header>
{{template "pageheader.tmpl" .}}
			<nav>
{{template "menu.tmpl" .Menu}}
			</nav>
		</header>
		<main>
			<article>
			{{template "content.tmpl" .}}
			</article>
		</main>
	</body>
</html>

