{{template "articles.tmpl" .Articles}}
{{with .Content}}
<header>
<h1>{{template "link.tmpl" .}}</h1>
<p>{{.Author}} - {{.Date.Format "2006-01-02 15:04"}}</p>
</header>
{{.HTML}}{{end}}
<footer>
{{template "footer.tmpl" .}}
</footer>
